[project]
name = "advent-of-agents-25"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "google-adk>=1.20.0",
    "google-genai>=1.53.0",
]

[[tool.uv.index]]
url = "https://pypi.org/simple"
